html, body {
  margin: 0;
  overflow: hidden;
}

h1 {
  position: absolute;
  color: white;
  left: 10px;
  top: 10px;
}

canvas {
  display: block;
  background-color: black;
  width: 100vw;
  height: 100vh;
}
p {
  position: absolute;
  margin: 0;
  top: 35px;
  right: 5px;
  color: #aaaaaa;
}